.dashboard {
  width: 100%;
  overflow: hidden;
  background: pink;
  height: 90%;
}

.dashboard /deep/ .widget {
  background-color: darkgrey;
}

.widget .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.handle {
  cursor: move;
}
